<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TECH-LOOP</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/public/tech.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <!-- <<<<<<<<<<<<<<<<<<< NAVBAR >>>>>>>>>>>>>>>> -->
    <nav
      class="navbar navbar-expand-lg"
      data-bs-theme="dark"
      style="background-color: #150233; padding: 0px 0px"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/public/Images2/TechLogo.png"
            alt="logo"
            width="150"
            height="80"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                style="font-size: 18px"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" style="font-size: 18px" href="#"
                >Contact Us</a
              >
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: white; font-size: 18px"
              >
                Skill-Set
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">App Development</a></li>
                <li><a class="dropdown-item" href="#">Web Development</a></li>
                <li><a class="dropdown-item" href="#">Data Structures</a></li>
                <li><a class="dropdown-item" href="#">AI/ML</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Blockchaining</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" style="font-size: 18px" href="#"
                >Address</a
              >
            </li>

            <button
              class="btn btn-outline-secondary"
              style="
                font-weight: 600;
                border: 1.5px solid white;
                color: white;
                margin-left: 25px;
              "
              type="submit"
            >
              LogIn
            </button>

            <button 
              class="btn btn-outline-secondary"
              style="
                font-weight: 600;
                border: 1.5px solid white;
                color: white;
                margin-left: 25px;
              "
              type="submit"
            >
              SignUp
            </button>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Browse Courses"
              aria-label="Search"
              style="color: black; font-size: 16px; width: 300px"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- <<<<<<<<<<<<<<< CAROUSEL>>>>>>>>>>>>>>>>>-->

    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 7"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/public/Images2/webs.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/appdev.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/DS.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/ML.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/robo.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/blockch.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="/public/Images2/dev.png"
            style="height: 450px"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<< Heading >>>>>>>>>>>>>>>>>>>>>>>>> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <figure class="text-center">
            <blockquote class="blockquote">
              <h2>
                Even in such technical lines as engineering, about 15% of one's
                financial success is due one's technical knowledge and about 85%
                is due to skill in human engineering, to personality and the
                ability to lead people.
              </h2>
            </blockquote>
            <figcaption class="blockquote-footer" style="margin-bottom: 35px">
              <cite style="font-size: 25px" title="Source Title"
                >Dale Carnegie</cite
              >
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Icons with data >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->

    <div
      class="row justify-content-evenly pt-4 pb-3"
      style="background-color: #f1f1f1"
    >
      <div class="col-md-2 text-center">
        <a href="#">
          <h1><i class="bi bi-menu-app-fill text-primary"></i></h1>
          <h6 class="text-primary"><b>ANDROID DEVELOPMENT</b></h6>
          <p class="text-dark">
            Android development is a form of software engineering dedicated
            specifically to creating applications for devices that run on the
            Android platform. Several types of programming languages may be
            involved in Android dev.
          </p>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="#">
          <h1>
            <i class="bi bi-filetype-html text-danger"></i>
          </h1>
          <h6 class="text-danger"><b>FULL STACK WEB DEVELOPMENT</b></h6>
          <p class="text-dark">
            Web development refers to the creating, building, and maintaining of
            websites. It is a software profession/stream where a developer deals
            with both the Frontend (client-side) and Backend (server-side) of a
            tech product.
          </p>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="#">
          <h1><i class="bi bi-database-fill-check text-success"></i></h1>
          <h6 class="text-success"><b>DATA STRUCTURES</b></h6>
          <p class="text-dark">
            A data structure is a storage that is used to store and organize
            data. It is a way of arranging data on a computer so that it can be
            accessed and updated efficiently.
          </p>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="#">
          <h1><i class="bi bi-robot text-warning"></i></h1>
          <h6 class="text-warning"><b>AI/MACHINE LEARNING</b></h6>
          <p class="text-dark">
            Artificial intelligence generally refers to processes and algorithms
            that are able to simulate human intelligence, including mimicking
            cognitive functions such as perception, learning and problem
            solving.
          </p>
        </a>
      </div>
      <div class="col-md-2 text-center">
        <a href="#">
          <h1><i class="bi bi-file-code-fill text-secondary"></i></h1>
          <h6 class="text-secondary"><b>BLOCKCHAIN TECHNOLOGY</b></h6>
          <p class="text-dark">
            Blockchain is a peer-to-peer decentralized distributed ledger
            technology that makes the records of any digital asset transparent
            and unchangeable and works without involving any third-party
            intermediary.
          </p>
        </a>
      </div>
    </div>

    <hr />

    <!-- <<<<<<<<<<<<<<<<<<<<<<<<< PROGRESS SECTION>>>>>>>>>>>>>>>>>>>> -->

    <div class="row justify-content-evenly">
      <div class="col-md-5">
        <img
          src="/public/Images2/growth.png"
          class="rounded float-start img-fluid img-thumbnail"
          alt="..."
          style="height: 400px; width: 800px; margin-top: 40px !important"
        />
      </div>

      <div class="col-md-5" style="margin: 50px">
        <h3 class="text-center" style="color: crimson; margin-bottom: 30px">
          <b><i> Skills Demand In Industries </i></b>
        </h3>
        <h5>ANDROID DEVELOPMENT</h5>
        <div
          class="progress"
          role="progressbar"
          aria-label="Success example"
          aria-valuenow="35"
          aria-valuemin="0"
          aria-valuemax="100"
          style="margin-bottom: 15px"
        >
          <div class="progress-bar bg-primary" style="width: 35%"></div>
        </div>

        <h5>WEB DEVELOPMENT</h5>
        <div
          class="progress"
          role="progressbar"
          aria-label="Info example"
          aria-valuenow="90"
          aria-valuemin="0"
          aria-valuemax="100"
          style="margin-bottom: 15px"
        >
          <div class="progress-bar bg-danger" style="width: 90%"></div>
        </div>

        <h5>AI/MACHINE LEARNING</h5>
        <div
          class="progress"
          role="progressbar"
          aria-label="Warning example"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
          style="margin-bottom: 15px"
        >
          <div class="progress-bar bg-warning" style="width: 50%"></div>
        </div>

        <h5>DATA STRUCTURES</h5>
        <div
          class="progress"
          role="progressbar"
          aria-label="Danger example"
          aria-valuenow="70"
          aria-valuemin="0"
          aria-valuemax="100"
          style="margin-bottom: 15px"
        >
          <div class="progress-bar bg-success" style="width: 70%"></div>
        </div>

        <h5>BLOCKCHAINING</h5>
        <div
          class="progress"
          role="progressbar"
          aria-label="Danger example"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="margin-bottom: 15px"
        >
          <div class="progress-bar bg-info" style="width: 75%"></div>
        </div>
      </div>
    </div>

    <!-- <<<<<<<<<<<<<<<< CONTACT AND LOCATION SECTION >>>>>>>>>>>>>>>>>>>> -->

    <div
      class="row justify-content-evenly pb-5"
      style="background-color: #f1f1f1"
    >
      <div class="col-md-5 mt-5">
        <h3 class="mb-4">Contact Form</h3>

        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>

          <div class="mb-3">
            <label for="Textarea" class="form-label">Message</label>
            <textarea class="form-control" id="Textarea" rows="5"></textarea>
          </div>

          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>

      <div class="col-md-5 mt-5">
        <h3 class="mb-4">Address</h3>
        <p>
          'Satyam' 1384, Basant Vihar, KOTA CITY
          <br />RAJASTHAN - 324009 <br />
          <i class="bi bi-telephone"></i> : +91-7729304392
        </p>

        <img
          src="/public/Images2/address.png"
          style="width: 100%; height: 300px"
        />
      </div>
    </div>

    <!-- <<<<<<<<<<< FAQ's >>>>>>>>>>>> -->

    <div class="row justify-content-evenly pb-5">
      <div class="col-md-10 mt-5">
        <h3 class="text-center mb-5" style="color: darkslategray">
          <b><i>FAQ</i></b>
        </h3>

        <div
          class="accordion accordion-flush border"
          id="accordionFlushExample"
        >
          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                <b>Accordion Item #1</b>
              </button>
            </h3>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                first item's accordion body.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                <b>Accordion Item #2</b>
              </button>
            </h3>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                second item's accordion body. Let's imagine this being filled
                with some actual content.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h3 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                <b> Accordion Item #3 </b>
              </button>
            </h3>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                third item's accordion body. Nothing more exciting happening
                here in terms of content, but just filling up the space to make
                it look, at least at first glance, a bit more representative of
                how this would look in a real-world application.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <<<<<<<<<<<<< FOOTER >>>>>>>>>>>>>> -->

    <div class="row justify-content-evenly bg-dark pt-4 pb-5">
      <div class="col-md-3 mt-4 text-center" style="color: white">
        <h4 class="mb-3"><b>TechLoop</b></h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. At nostrum
          accusamus architecto cupiditate, excepturi harum quis facilis labore
          cum nulla non iusto laborum nesciunt beatae provident sit tenetur
          debitis doloremque.
        </p>
      </div>
      <div class="col-md-3 mt-4 text-center" style="color: white">
        <h4 class="mb-3"><b>Important Links</b></h4>
        <p>
          <a href="#" class="link-light text-decoration-none">Home</a
          ><br /><br />
          <a href="#" class="link-light text-decoration-none">About Us</a
          ><br /><br />
          <a href="#" class="link-light text-decoration-none">Contact Us</a
          ><br /><br />
          <a href="#" class="link-light text-decoration-none">Our Team</a><br />
        </p>
      </div>
      <div class="col-md-3 mt-4 text-center" style="color: white">
        <h4 class="mb-3"><b>Contact Us</b></h4>
        <p>
          'Satyam' 1384, Basant Vihar <br />
          KOTA CITY <br />
          RAJASTHAN - 324009 <br />
          <i class="bi bi-telephone"></i> : +91-7729304392<br />
          <br />
          Email : gargshashwat705@gmail.com<br />
          SHASHWAT GARG
        </p>
      </div>
    </div>

    <!-- <<<<<<<<<< COPYRIGHT>>>>>>>>>>> -->

    <div class="row">
      <div
        class="col-md-12 text-center pt-1 pb-0"
        style="color: white; background-color: darkslategrey"
      >
        <p>©Copyright 2012-2023 by <b>TechLoop</b>. All Rights Reserved</p>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>
