<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SignUp Form</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/public/Style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="
      background-image: linear-gradient(
        to bottom right,
        rgb(59, 209, 151),
        rgb(67, 148, 118),
        rgb(144, 194, 44)
      );

      height: 540px;
    "
  >
    <div class="contaier">
      <div class="row mt-5">
        <div
          class="col-lg-4 m-auto wrapper"
          style="
            background-image: linear-gradient(
              to bottom right,
              rgb(39, 167, 159),
              rgb(236, 226, 224),
              rgb(79, 79, 138)
            );
            border-radius: 15px;
          "
        >
          <h2 class="text-center pt-3"><i>Register/Signup</i></h2>
          <p class="text-center text-muted lead mb-4">
            <b>Let's begin the journey</b>
          </p>

          <form action="/login" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="bi bi-person-fill"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Full Name *"
                required = "true";
                name="fullName"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="bi bi-person-fill"></i
              ></span>
              <input type="email" class="form-control" placeholder="Email Address *" required = "true" name="email"/>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-123"></i></span>
              <input
                type="number"
                class="form-control"
                placeholder="Phone number *"
                required = "true"
                name="pnumber"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-lock"></i></span>
              <input
                type="password"
                class="form-control"
                placeholder="Password *"
                required = "true"
                name="password"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"><i class="bi bi-lock"></i></span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password *"
                required = "true"
                name="cpassword"
              />
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-success">
                <b>SignUp Now</b>
              </button>

              <p class="text-center text-muted mb-2">
                <b>It Takes a Minute</b>
              </p>

              <p class="text-center">
                Already Have an Account ? <a href="/login">LogIn Here</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
